@font-face {
  font-family: "iconfont"; /* Project id 5144050 */
  src: url('iconfont.woff2?t=1773988774781') format('woff2'),
       url('iconfont.woff?t=1773988774781') format('woff'),
       url('iconfont.ttf?t=1773988774781') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-15tianmianfeihuanhuo24px:before {
  content: "\e605";
}

.icon-message:before {
  content: "\e706";
}

.icon-gift:before {
  content: "\e842";
}

.icon-dingwei:before {
  content: "\e847";
}

.icon-tool-:before {
  content: "\e644";
}

.icon-circle-arrow-right:before {
  content: "\e8bb";
}

.icon-icon-prev1:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e63a";
}

.icon-qitianwuliyoutuihuan:before {
  content: "\e64b";
}

.icon-zuoyoujiantou:before {
  content: "\e602";
}

.icon-zuoyoujiantou1:before {
  content: "\e603";
}

